<section id="banners" class="banners">
    <div class="container text-uppercase">
        <div class="row">
            <div class="col-sm-12 col-lg-6 d-none d-md-block text-white pb-4 pb-lg-0">
                <div class="banner banner--sofa banner-inner-wrapper mx-auto">
                    <div class="sofa-overlay"></div>
                    <h3 class="banner-heading banner-heading--sofa font-weight-bold">
                        guest room
                        <span class="banner-heading__item banner-heading__item--sofa">sofa</span>
                    </h3>

                    <span class="banner__info banner__info--sofa border border-white font-weight-bold ">
                            -20%
                        </span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-12 ">
                        <div class="banner banner--chair mx-auto">
                            <div class="chair-wrapper mx-auto d-flex flex-column ">
                                <h3 class="banner-heading banner-heading--chair">
                                    <span class="banner-heading__item font-weight-bold">office</span>
                                    <span class="banner-heading__item font-weight-light">chair</span>
                                    <span class="banner-heading__item banner-heading__item--office-spaced font-weight-bold ml-0">collection</span>
                                </h3>

                                <span class="banner__info banner__info--chair font-weight-bold">
                                    $200.00
                                </span>
                            </div>

                        </div>

                    </div>
                    <div class="col-12 text-right">
                        <div
                                class="banner banner--furniture mx-auto d-flex flex-column align-items-end justify-content-center">
                            <h3 class="banner-heading banner-heading--furniture font-weight-light">
                                <span class="banner-heading__item banner-heading__item--furniture-bold font-weight-bold">
                                    special
                                </span>
                                collection
                            </h3>

                            <span class="banner__info banner__info--furniture">
                                save up 45% of furniture
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
