<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="features__block col-12 col-md-6 col-lg-3">
                <div class="features__block-wrapper">
                    <i class="features__icon fa fa-truck"></i>
                    <span class="features__main-text">Free Shipping</span>
                    <span class="features__sub-text">All order</span>
                </div>
            </div>
            <div class="features__block col-12 col-md-6 col-lg-3">
                <div class="features__block-wrapper">
                    <i class="features__icon fa fa-headphones"></i>
                    <span class="features__main-text">24/7 customer</span>
                    <span class="features__sub-text">support</span>
                </div>
            </div>
            <div class="features__block col-12 col-md-6 col-lg-3">
                <div class="features__block-wrapper">
                    <i class="features__icon fa fa-reply-all"></i>
                    <span class="features__main-text">money back</span>
                    <span class="features__sub-text">guarantee</span>
                </div>
            </div>
            <div class="features__block col-12 col-md-6 col-lg-3">
                <div class="features__block-wrapper">
                    <i class="features__icon fa fa-bullhorn"></i>
                    <span class="features__main-text">MEMBER DISCOUNT</span>
                    <span class="features__sub-text">first order</span>
                </div>
            </div>

        </div>
    </div>
</section>