<section id="gallery" class="gallery">

    <div class="container">
        <div class="row">
            <div class="gallery__block col-12 col-lg-6">
                <h3 class="gallery__heading">furniture gallery</h3>

                <!-- Nav tabs -->
                <ul class="gallery__tabs nav nav-tabs d-flex">
                    <li class="gallery__tabs-item">
                        <a class="gallery__tabs-link active" data-toggle="tab" href="#featured">Featured</a>
                    </li>
                    <li class="gallery__tabs-item">
                        <a class="gallery__tabs-link" data-toggle="tab" href="#top-seller">TOP SELLER</a>
                    </li>
                    <li class="gallery__tabs-item">
                        <a class="gallery__tabs-link gallery__tabs-link--sale" data-toggle="tab" href="#sale-off">SALE
                            OFF</a>
                    </li>
                    <li class="gallery__tabs-item">
                        <a class="gallery__tabs-link gallery__tabs-link--rated" data-toggle="tab" href="#top-rated">TOP
                            RATED</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="container my-4">

                            <!--Carousel Wrapper-->
                            <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails"
                                 data-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="carousel-item__icons-wrapper">
                                            <a class="carousel-item__link" href="#gallery" title="Add to wishlist">
                                                <i class="carousel-item__icon square-button fa fa-heart-o"></i>
                                            </a>

                                            <a class="carousel-item__link" data-target="#detailsModal" data-toggle="modal" title="Quick view">
                                                <i class="carousel-item__icon square-button fa fa-eye"></i>
                                            </a>
                                            <a class="carousel-item__link" href="#gallery" title="Add to cart">
                                                <i class="carousel-item__icon square-button fa fa-shopping-basket"></i>
                                            </a>
                                        </div>
                                        <img class="carousel-item__image" src="../img/products/top-seller/10.png">
                                        <div class="carousel-item__price-circle price-circle">
                                            <span class="price-circle__price price-circle__price--new">$120.00</span>
                                            <span class="price-circle__price price-circle__price--old">$160.00</span>
                                        </div>
                                        <div class="carousel-item__card shadow">
                                            <span class="carousel-item__name">Aenean Ru Bristique</span>
                                            <div class="carousel-item__icons-block">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-item__icons-wrapper">
                                            <a class="carousel-item__link" href="#gallery" title="Add to wishlist">
                                                <i class="carousel-item__icon square-button fa fa-heart-o"></i>
                                            </a>

                                            <a class="carousel-item__link" data-target="#detailsModal" data-toggle="modal" title="Quick view">
                                                <i class="carousel-item__icon square-button fa fa-eye"></i>
                                            </a>
                                            <a class="carousel-item__link" href="#gallery" title="Add to cart">
                                                <i class="carousel-item__icon square-button fa fa-shopping-basket"></i>
                                            </a>
                                        </div>
                                        <img class="carousel-item__image" src="../img/products/top-seller/11.png">
                                        <div class="carousel-item__price-circle price-circle">
                                            <span class="price-circle__price price-circle__price--new">$120.00</span>
                                            <span class="price-circle__price price-circle__price--old">$160.00</span>
                                        </div>
                                        <div class="carousel-item__card shadow">
                                            <span class="carousel-item__name">Aenean Ru Bristique</span>
                                            <div class="carousel-item__icons-block">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-item__icons-wrapper">
                                            <a class="carousel-item__link" href="#gallery" title="Add to wishlist">
                                                <i class="carousel-item__icon square-button fa fa-heart-o"></i>
                                            </a>

                                            <a class="carousel-item__link" data-target="#detailsModal" data-toggle="modal" title="Quick view">
                                                <i class="carousel-item__icon square-button fa fa-eye"></i>
                                            </a>
                                            <a class="carousel-item__link" href="#gallery" title="Add to cart">
                                                <i class="carousel-item__icon square-button fa fa-shopping-basket"></i>
                                            </a>
                                        </div>
                                        <img class="carousel-item__image" src="../img/products/top-seller/12.png">
                                        <div class="carousel-item__price-circle price-circle">
                                            <span class="price-circle__price price-circle__price--new">$120.00</span>
                                            <span class="price-circle__price price-circle__price--old">$160.00</span>
                                        </div>
                                        <div class="carousel-item__card shadow">
                                            <span class="carousel-item__name">Aenean Ru Bristique</span>
                                            <div class="carousel-item__icons-block">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-item__icons-wrapper">
                                            <a class="carousel-item__link" href="#gallery" title="Add to wishlist">
                                                <i class="carousel-item__icon square-button fa fa-heart-o"></i>
                                            </a>

                                            <a class="carousel-item__link" data-toggle="modal" data-target="#detailsModal" title="Quick view">
                                                <i class="carousel-item__icon square-button fa fa-eye"></i>
                                            </a>
                                            <a class="carousel-item__link" href="#gallery" title="Add to cart">
                                                <i class="carousel-item__icon square-button fa fa-shopping-basket"></i>
                                            </a>
                                        </div>
                                        <img class="carousel-item__image" src="../img/products/top-seller/13.png">
                                        <div class="carousel-item__price-circle price-circle">
                                            <span class="price-circle__price price-circle__price--new">$120.00</span>
                                            <span class="price-circle__price price-circle__price--old">$160.00</span>
                                        </div>
                                        <div class="carousel-item__card shadow">
                                            <span class="carousel-item__name">Aenean Ru Bristique</span>
                                            <div class="carousel-item__icons-block">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Slides-->

                                <ol class="thumbs-check carousel-indicators">
                                    <li data-target="#carousel-thumb1" data-slide-to="0" class="active"><img
                                            class="d-block w-100" src="../img/products/top-seller/10.png"
                                            class="img-fluid"></li>
                                    <li data-target="#carousel-thumb1" data-slide-to="1"><img class="d-block w-100"
                                                                                              src="../img/products/top-seller/11.png"
                                                                                              class="img-fluid"></li>
                                    <li data-target="#carousel-thumb1" data-slide-to="2"><img class="d-block w-100"
                                                                                              src="../img/products/top-seller/12.png"
                                                                                              class="img-fluid"></li>
                                    <li data-target="#carousel-thumb1" data-slide-to="3"><img class="d-block w-100"
                                                                                              src="../img/products/top-seller/13.png"
                                                                                              class="img-fluid"></li>
                                </ol>
                            </div>
                            <!--/.Carousel Wrapper-->
                            <!--Controls-->
<!--                            <a class="carousel-control-prev" href="#carousel-thumb1" role="button"-->
<!--                               data-slide="prev">-->
<!--                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                <span class="sr-only">Previous</span>-->
<!--                            </a>-->
<!--                            <a class="carousel-control-next" href="#carousel-thumb1" role="button"-->
<!--                               data-slide="next">-->
<!--                                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                <span class="sr-only">Next</span>-->
<!--                            </a>-->
                            <!--/.Controls-->
                        </div>
                    </div>


                    <div class="tab-pane" id="top-seller">
                        <div class="container my-4">

                            <!--Carousel Wrapper-->
                            <div id="carousel-thumb2" class="carousel slide carousel-fade carousel-thumbnails"
                                 data-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="carousel-item__icons-wrapper">
                                            <a class="carousel-item__link" href="#" title="Add to wishlist">
                                                <i class="carousel-item__icon square-button fa fa-heart-o"></i>
                                            </a>

                                            <a class="carousel-item__link" href="#" title="Quick view">
                                                <i class="carousel-item__icon square-button fa fa-eye"></i>
                                            </a>
                                            <a class="carousel-item__link" href="#" title="Add to cart">
                                                <i class="carousel-item__icon square-button fa fa-shopping-basket"></i>
                                            </a>
                                        </div>
                                        <img class="carousel-item__image" src="../img/products/top-seller/10.png">
                                        <div class="carousel-item__price-circle price-circle">
                                            <span class="price-circle__price price-circle__price--new">$120.00</span>
                                            <span class="price-circle__price price-circle__price--old">$160.00</span>
                                        </div>
                                        <div class="carousel-item__card shadow">
                                            <span class="carousel-item__name">Aenean Ru Bristique</span>
                                            <div class="carousel-item__icons-block">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-item__icons-wrapper">
                                            <a class="carousel-item__link" href="#" title="Add to wishlist">
                                                <i class="carousel-item__icon square-button fa fa-heart-o"></i>
                                            </a>

                                            <a class="carousel-item__link" href="#" title="Quick view">
                                                <i class="carousel-item__icon square-button fa fa-eye"></i>
                                            </a>
                                            <a class="carousel-item__link" href="#" title="Add to cart">
                                                <i class="carousel-item__icon square-button fa fa-shopping-basket"></i>
                                            </a>
                                        </div>
                                        <img class="carousel-item__image" src="../img/products/top-seller/11.png">
                                        <div class="carousel-item__price-circle price-circle">
                                            <span class="price-circle__price price-circle__price--new">$120.00</span>
                                            <span class="price-circle__price price-circle__price--old">$160.00</span>
                                        </div>
                                        <div class="carousel-item__card shadow">
                                            <span class="carousel-item__name">Aenean Ru Bristique</span>
                                            <div class="carousel-item__icons-block">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-item__icons-wrapper">
                                            <a class="carousel-item__link" href="#" title="Add to wishlist">
                                                <i class="carousel-item__icon square-button fa fa-heart-o"></i>
                                            </a>

                                            <a class="carousel-item__link" href="#" title="Quick view">
                                                <i class="carousel-item__icon square-button fa fa-eye"></i>
                                            </a>
                                            <a class="carousel-item__link" href="#" title="Add to cart">
                                                <i class="carousel-item__icon square-button fa fa-shopping-basket"></i>
                                            </a>
                                        </div>
                                        <img class="carousel-item__image" src="../img/products/top-seller/12.png">
                                        <div class="carousel-item__price-circle price-circle">
                                            <span class="price-circle__price price-circle__price--new">$120.00</span>
                                            <span class="price-circle__price price-circle__price--old">$160.00</span>
                                        </div>
                                        <div class="carousel-item__card shadow">
                                            <span class="carousel-item__name">Aenean Ru Bristique</span>
                                            <div class="carousel-item__icons-block">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-item__icons-wrapper">
                                            <a class="carousel-item__link" href="#" title="Add to wishlist">
                                                <i class="carousel-item__icon square-button fa fa-heart-o"></i>
                                            </a>

                                            <a class="carousel-item__link" href="#" title="Quick view">
                                                <i class="carousel-item__icon square-button fa fa-eye"></i>
                                            </a>
                                            <a class="carousel-item__link" href="#" title="Add to cart">
                                                <i class="carousel-item__icon square-button fa fa-shopping-basket"></i>
                                            </a>
                                        </div>
                                        <img class="carousel-item__image" src="../img/products/top-seller/13.png">
                                        <div class="carousel-item__price-circle price-circle">
                                            <span class="price-circle__price price-circle__price--new">$120.00</span>
                                            <span class="price-circle__price price-circle__price--old">$160.00</span>
                                        </div>
                                        <div class="carousel-item__card shadow">
                                            <span class="carousel-item__name">Aenean Ru Bristique</span>
                                            <div class="carousel-item__icons-block">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Slides-->
                                <!--Controls-->
                                <a class="carousel-control-prev" href="#carousel-thumb2" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-thumb2" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!--/.Controls-->
                                <ol class="thumbs-check carousel-indicators">
                                    <li data-target="#carousel-thumb2" data-slide-to="0" class="active"><img
                                            class="d-block w-100" src="../img/products/top-seller/10.png"
                                            class="img-fluid"></li>
                                    <li data-target="#carousel-thumb2" data-slide-to="1"><img class="d-block w-100"
                                                                                              src="../img/products/top-seller/11.png"
                                                                                              class="img-fluid"></li>
                                    <li data-target="#carousel-thumb2" data-slide-to="2"><img class="d-block w-100"
                                                                                              src="../img/products/top-seller/12.png"
                                                                                              class="img-fluid"></li>
                                    <li data-target="#carousel-thumb2" data-slide-to="3"><img class="d-block w-100"
                                                                                              src="../img/products/top-seller/13.png"
                                                                                              class="img-fluid"></li>
                                </ol>
                            </div>
                            <!--/.Carousel Wrapper-->

                        </div>
                    </div>
                    <div class="tab-pane" id="sale-off">sale-off</div>
                    <div class="tab-pane" id="top-rated">top-rated</div>
                </div>

            </div>
            <div class="gallery__block col-lg-6">
                <div class="gallery__banner">

                    <span class="gallery__banner-price">FROM<span
                            class="gallery__banner-price--highlight">&nbsp;$50.80</span></span>

                    <span class="gallery__banner-name">Bedroom Bed</span>
                    <button type="button" class="gallery__banner-button btn btn-success">Shop now</button>
                </div>
            </div>
        </div>
    </div>
</section>