<section id="products" class="products">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-9">
        <div class="col-12 px-0">
          <div
                  class="products-header d-flex justify-content-between border-bottom border-dark align-items-center pb-2 mb-5">
            <h2 class="products-header__title text-uppercase text-dark p-0 font-weight-bold">
              Furniture
            </h2>

            <button class="products-header__button btn btn-outline-dark rounded-0 d-xl-none"
                    data-toggle="modal" data-target="#filters-modal">
              Filters by
            </button>
          </div>
        </div>
        <div class="products-list">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale='25.00'
                   data-id="1"
                   data-src='../img/products/furniture/1.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/1.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button data-action="cart"
                              class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__sale text-secondary">
                    &dollar;25.00
                  </span>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="2"
                   data-src='../img/products/furniture/2.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/2.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button data-action="cart"
                              class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="3"
                   data-src='../img/products/furniture/3.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/3.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale='25.00'
                   data-id="4"
                   data-src='../img/products/furniture/4.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/4.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__sale text-secondary">
                    &dollar;25.00
                  </span>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="5"
                   data-src='../img/products/furniture/5.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/5.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="6"
                   data-src='../img/products/furniture/6.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/6.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="7"
                   data-src='../img/products/furniture/7.png'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/7.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="8"
                   data-src='../img/products/furniture/8.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/8.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale='20.00'
                   data-id="9"
                   data-src='../img/products/furniture/9.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/9.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__sale text-secondary">
                    &dollar;25.00
                  </span>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='25.00'
                   data-sale=''
                   data-id="10"
                   data-src='../img/products/furniture/10.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/10.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__sale text-secondary">
                    &dollar;25.00
                  </span>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="11"
                   data-src='../img/products/furniture/11.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/11.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="13"
                   data-src='../img/products/furniture/13.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/13.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="14"
                   data-src='../img/products/furniture/14.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/14.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="15"
                   data-src='../img/products/furniture/15.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/15.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="16"
                   data-src='../img/products/furniture/16.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/16.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="17"
                   data-src='../img/products/furniture/17.png'
                   data-purchased='false'

                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/17.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="18"
                   data-src='../img/products/furniture/18.png'
                   data-purchased='false'

                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/18.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div data-name='Aenean Ru Bristique'
                   data-price='30.00'
                   data-sale=''
                   data-id="19"
                   data-src='../img/products/furniture/19.png'
                   data-purchased='false'
                   class="card product-item border-light rounded-0">
                <div class="card-body p-0">
                  <div class="product-item__image bg-light mb-3 position-relative text-center">
                    <img src="../img/products/furniture/19.png" alt="Chair" class="img-fluid">
                    <div class="product-item-buttonset position-absolute w-100 justify-content-between px-2 ">
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-toggle="modal" data-target="#detailsModal">
                        Quick view
                      </button>
                      <button class="product-item-buttonset__button btn btn-dark rounded-0 text-uppercase"
                              data-action="cart">
                        <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                        <span>Add to cart</span>
                      </button>
                    </div>
                  </div>

                  <h3 class="product-item__heading text-dark mb-2 font-weight-bold text-center">
                    Aenean Ru Bristique
                  </h3>

                  <div class="product-item-rating mb-3 text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>

                <div
                        class="card-footer bg-white border-dark py-3 mx-2 px-0 d-flex justify-content-between position-relative">
                  <div class="square-buttons">
                    <button class="square-button square-button--products">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <button class="square-button square-button--products">
                      <i class="fa fa-arrows-h"></i>
                    </button>
                  </div>

                  <span class="product-item__price bg-dark text-white py-2 px-3">
                                        &dollar;30.00
                                    </span>
                </div>

              </div>

            </div>
            <div class="col-12 text-center load-more">
              <button class="btn btn-light rounded-circle shadow-sm" id="products-load-btn">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-none d-xl-block col-xl-3">
        //= filters.html
      </div>
    </div>

  </div>
</section>