<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="subscribe-wrapper d-flex justify-content-between mx-auto">
                    <h3 class="subscribe__heading text-uppercase d-none d-md-block align-self-center mb-0 mr-5">
                        Newsletter:
                    </h3>

                    <form class="subscribe-form form-inline d-flex justify-content-between w-100" action="#">
                            <label class="subscribe-form-label" for="subscribe-email"></label>
                            <input class="subscribe-form__input mr-2 mr-md-4" id="subscribe-email" type="email"
                                   placeholder="Enter your email address">


                        <button class="subscribe-form__button btn btn-rounded bg-white" type="submit">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>