<section id="top-slider" class="top-slider">
    <div class="container">
        <div class="row">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <div class="top-slider__carousel carousel-inner col-12">
                    <div class="top-slider__carousel-image-wrapper carousel-item active">
                        <img class="top-slider__carousel-image img-fluid" src="./img/top-slider/1.jpg" alt="sofa">
                        <div class="top-slider__carousel-caption carousel-caption">
                            <h3 class="top-slider__carousel-heading"><span class="top-slider__carousel-heading--thin">indoor</span>
                                furniture</h3>
                            <p class="top-slider__carousel-text">save up to 50% of all furniture</p>
                            <button type="button" class="top-slider__carousel-button btn">Shop now</button>
                        </div>
                    </div>
                    <div class="top-slider__carousel-image-wrapper carousel-item">
                        <img class="top-slider__carousel-image img-fluid" src="./img/top-slider/2.jpg" alt="sofa">
                        <div class="top-slider__carousel-caption carousel-caption">
                            <h3 class="top-slider__carousel-heading"><span class="top-slider__carousel-heading--thin">indoor</span>
                                furniture</h3>
                            <p class="top-slider__carousel-text">save up to 50% of all furniture</p>
                            <button type="button" class="top-slider__carousel-button btn">Shop now</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="top-slider__arrows-wrapper top-slider__arrows-wrapper--prev col-6">
                <a class="top-slider__link" href="#demo" data-slide="prev">
                    <div class="top-slider__arrow-box">
                        <i class="top-slider__arrow fa fa-chevron-left"></i>
                    </div>
                </a>
            </div>
            <div class="top-slider__arrows-wrapper top-slider__arrows-wrapper--next col-6">
                <a class="top-slider__link" href="#demo" data-slide="next">
                    <div class="top-slider__arrow-box">
                        <i class="top-slider__arrow fa fa-chevron-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>