<section class="py-5">

<!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--    Launch demo modal-->
<!--  </button>-->

  <div class="modal fade details-modal text-left" id="detailsModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-xl details-inner" role="document">
      <div class="modal-content position-relative">
        <button type="button" class="modal-close btn btn-dark rounded-0" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body mt-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-5">
                <div class="details-image bg-light mx-auto d-flex justify-content-center">
                  <img class="img-fluid" src="../../img/products/furniture/1.png" alt="Furniture"
                       id="details-modal-image">
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-7">
                <!--              header-->
                <div class="details-header py-4 border-bottom border-gray">
                  <h3 class="details-heading__title mb-3" id="details-title">
                    Sunbaby Magic Bear Chair
                  </h3>
                  <div class="details-rating d-flex">
                    <div class="product-item-rating text-center mr-3">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <span class="details-rating__reviews text-secondary">
                      (0 reviews)
                    </span>
                  </div>
                </div>

                <div class="details-price py-4 border-bottom border-gray">
                  <span class="details-price__sale text-secondary font-weight-light mr-3" id="details-sale">
                      &dollar;350.00
                  </span>

                  <span class="details-price__actual bg-dark text-white py-2 px-3 text-bold" id="details-price">
                    &dollar;300.00
                  </span>

                </div>

                <div class="details-cart pt-4">
                  <button class="details-cart__button text-white px-3 border-0 mr-2 button disabled"
                          data-action="cart" id="modal-cart-btn">
                    <i class="fa fa-shopping-cart mr-1 d-inline-block"></i>
                    <span>Add to cart</span>
                  </button>

                  <button class="square-button square-button--details">
                    <i class="fa fa-heart-o"></i>
                  </button>
                </div>

                <div class="details-description py-4">
                  <div class="details-description__heading font-weight-bold mb-3">
                    Quick overview
                  </div>

                  <div class="details-description__text mb-3">
                    Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed purus augue, eu euis mod tellus.
                    Nam mattis eros tis sagittis. Vestibulum suscipit cursus biben.
                  </div>

                  <div class="details-info d-flex">
                    <p class="details-info__item m-0 mr-2">
                      <span class="mr-2">
                        Availability:
                      </span>
                      <span class="text-secondary">
                        In stock
                      </span>
                    </p>
                    <p class="details-info__item m-0">
                      <span class="mr-2">
                        Category:
                      </span>
                      <span class="text-secondary">
                        Furniture
                      </span>
                    </p>
                  </div>
                </div>


              </div>

              <div class="d-none d-lg-block col-lg-5 border-top border-gray"></div>

              <div class="col-12 col-lg-7 border-top border-gray">
                <ul class="share-list list-unstyled d-flex pt-4 pb-2">
                  <li class="share-item border">
                    <a href="#" class="share-item__link text-decoration-none text-white">
                      <i class="fa fa-facebook"></i>
                      <span>Share</span>
                    </a>
                  </li>
                  <li class="share-item border">
                    <a href="#" class="share-item__link text-decoration-none  text-secondary">
                      <i class="fa fa-google-plus"></i>
                      <span>Google+</span>
                    </a>
                  </li>
                  <li class="share-item border">
                    <a href="#" class="share-item__link text-decoration-none  text-secondary">
                      <i class="fa fa-twitter"></i>
                      <span>Tweet</span>
                    </a>
                  </li>
                  <li class="share-item border">
                    <a href="#" class="share-item__link text-decoration-none  text-secondary">
                      <i class="fa fa-pinterest"></i>
                      <span>Pinterest</span>
                    </a>
                  </li>
                  <li class="share-item border">
                    <a href="#" class="share-item__link text-decoration-none  text-secondary">
                      <i class="fa fa-linkedin"></i>
                      <span>LinLed In</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>