<div class="modal-cart modal fade"
     id="cartModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="cartModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg d-flex justify-content-center mw100" role="document">
    <div class="modal-cart__content modal-content">

      <div class="modal-header mb-3 border-0">
        <button type="button" class="modal-close btn btn-dark rounded-0"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--      <div class="empty text-center mb-4"-->
      <!--           id="cart-empty">-->
      <!--        <p class="empty__text empty__text&#45;&#45;main font-weight-bold">-->
      <!--          Your cart is empty-->
      <!--        </p>-->
      <!--        <p class="empty__text empty__text&#45;&#45;small">-->
      <!--          But it's never too late to fix it :)-->
      <!--        </p>-->
      <!--      </div>-->

      <div class="modal-active p-3">

        <div class="cart-products border mb-3 p-3">
          <div class="cart-container" id="cart-container">
<!--            <div class="cart-item">-->
<!--              <div class="row">-->
<!--                <div class="col-12 col-lg-6">-->
<!--                  <div class="row">-->
<!--                    <div class="col-6 col-md-5 col-lg-6 pr-0 text-center">-->
<!--                      <img src="../../img/products/furniture/2.png"-->
<!--                           class="img-fluid cart-item__image"-->
<!--                           alt="Image">-->
<!--                    </div>-->
<!--                    <div class="col-6 col-md-7 col-lg-6 pl-0">-->
<!--                      <div class="cart-info text-left">-->
<!--                        <div class="cart-info__name">-->
<!--                          Aenean Ru Bristique-->
<!--                        </div>-->
<!--                        <span class="cart-info__sale font-weight-light">-->
<!--                        $350.00-->
<!--                      </span>-->
<!--                        <span class="cart-info__price bg-dark text-white py-1 px-2">-->
<!--                        $250.00-->
<!--                      </span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-12 col-lg-6">-->
<!--                  <div class="row">-->
<!--                    <div class="col d-none d-md-block col-md-5 d-lg-none"></div>-->
<!--                    <div-->
<!--                            class="col-12 col-md-7 col-lg-12 pl-md-0 pl-lg-3">-->
<!--                      <div class="cart-item-quantity d-flex justify-content-between">-->
<!--                        <div class="cart-counter d-flex justify-content-between align-items-center">-->
<!--                        <span class="cart-counter__label mr-3">-->
<!--                          Quantity:-->
<!--                        </span>-->
<!--                          <div class="counter-controls d-flex justify-content-between align-items-center">-->
<!--                            <input type="text"-->
<!--                                   class="counter-controls__count border border-dark mr-2"-->
<!--                                   value="1"-->
<!--                                   data-name="counter-input">-->
<!--                            <div class="counter-buttons">-->
<!--                              <button class="counter-controls__button border border-dark"-->
<!--                                      data-name="counter-minus">-->
<!--                                - -->
<!--                              </button>-->
<!--                              <button class="counter-controls__button border border-dark"-->
<!--                                      data-name="counter-plus">-->
<!--                                +-->
<!--                              </button>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="cart-item-sum text-center">-->
<!--                        <span class="cart-item-sum__label d-block text-secondary">-->
<!--                          Sum-->
<!--                        </span>-->
<!--                          <span class="cart-item-sum__summary d-block"-->
<!--                                data-name="item-sum">-->
<!--                          $250.00-->
<!--                        </span>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="cart-summary">
            <span>Total: $<span data-name="cart-total">0</span></span>
          </div>
        </div>

        <div class="cart-buttons d-flex justify-content-between">
          <button type="button"
                  class="cart-btn btn btn-secondary rounded-0"
                  data-dismiss="modal">
            <i class="fa fa-chevron-right"></i>
            Continue
          </button>
          <button type="button"
                  class="cart-btn--buy btn text-white rounded-0">
            <i class="fa fa-shopping-basket"></i>
            Buy now
          </button>
        </div>
      </div>


    </div>
  </div>
</div>
