.top-slider {
  margin-bottom: 84px;
  @media (min-width: $media-tablet) {
    margin-bottom: 71px;
  }

  &__arrows-wrapper {
    &--prev {
      padding-right: 0;
    }
    &--next {
    padding-left: 0;
    }
  }

  &__arrow-box {
    height: 32px;
    background-color: $darker-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $accent-color;
    }
    @media (min-width: $media-tablet) {
      height: 39px;
    }
  }
  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }

  &__arrow {
    color: white;
    font-size: 14px;
  }
  &__carousel {

    &-caption {
      background-color: rgba(1,1,1,0.5);
      right: 4%;
      bottom: 8%;
      left: 4%;
      padding-top: 5%;
      padding-bottom: 5%;
      z-index: 4;
      @media (min-width: $media-tablet) {
        right: 0;
        left: 0;
        bottom: 25%;
      }
      @media (min-width: 992px) {
        bottom: 32%;
      }
    }
    &-heading {
      font-size: 36px;
      text-transform: uppercase;
      @media (max-width: 479px) {
        font-size: 24px;
    }
      @media (min-width: $media-tablet) {
      font-size: 54px;
        margin-bottom: 0;
      }
      &--thin {
        @media (min-width: $media-tablet) {
          font-weight: lighter;
        }
      }
    }
    &-text {
      font-size: 18px;
      margin-bottom: 36px;
      @media (max-width: 479px) {
        font-size: 14px;
        margin-bottom: 18px;
    }
      @media (min-width: $media-tablet) {
        font-size: 24px;
        font-weight: lighter;
      }
    }
    &-button {
      font-size: 14px;
      padding: 21px 32px;
      font-weight: bold;
      color: black;
      background-color: white;
      text-transform: uppercase;
      cursor: pointer;
      @media (max-width: 479px) {
        font-size: 11px;
        padding: 12px 20px;
      }
      @media (min-width: $media-tablet) {
        position: absolute;
        bottom: -15%;
        left: 40%;
      }
      @media (min-width: 992px) {
        left: 42%;
      }
      @media (min-width: $media-desktop) {
        left: 44%;
      }
    }
  }
}

