$media-phone: 480px;
$media-tablet: 768px;
$media-desktop: 1200px;

$lighter-gray: #434343;				// светлая часть футера и хедера
$darker-gray: #363636;				// темная часть футера и хедера

$buttons-bg: #2a2a2a;				// фон кнопок
$accent-color: #d58e32;				// кнопки на ховере, акуентирующий цвет

$poppins: 'Poppins', sans-serif; 	// основной шрифт

$sale-popup-size: 21px;
